NODE_ENV=
LOG_LEVEL=
DOCS_ENABLED=
APP_NAME=
DB_BASE=
KAFKA_BROKER=
SUPERTOKENS_CONNECTION_URI=
SUPERTOKENS_API_KEY=
API_DOMAIN=
WEBSITE_DOMAIN=
AUTH_SERVICE_URL=
INTERNAL_API_KEY= 
SEAWEEDFS_S3_ENDPOINT=
SEAWEEDFS_PUBLIC_ENDPOINT=
SEAWEEDFS_REGION=
SEAWEEDFS_ACCESS_KEY=
SEAWEEDFS_SECRET_KEY=
SEAWEEDFS_BUCKET=
PRESIGNED_URL_EXPIRY=
MESSAGE_ENCRYPTION_KEY=
COMMENT_ENCRYPTION_KEY=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
GITHUB_WEBHOOK_SECRET=
REDIS_URL=